<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: projects</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .Bd{
            border: solid 1px black;
        }

        .P\(0\) {
            padding: 0px;
        }

        .P\(10px\) {
            padding: 10px;
        }

    </style>
</head>
<body>

<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text = "${message}"></h1>
    
    <!--/*@thymesVar id="projects" type="java.util.List<io.github.winhour.model.Project>"*/-->
    <dl th:each="project : ${projects}" class="Bd P(10px)">
        <dt th:text="${project.description}">...</dt>
        <dd>
            <ul class="P(0)">
               <!-- <li th:each="step : ${project.steps}" th:text = "|${step.description} (${step.days_to_deadline} days)|"></li> -->
                <li th:each="step : ${project.steps}" th:text = "|${step.description} (${step.days_to_deadline} days)|"></li>
            </ul>
        </dd>
    </dl>
    <!--/*@thymesVar id="project" type="io.github.winhour.model.projection.ProjectWriteModel"*/-->
    <fieldset>
        <legend>New project</legend>
        <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
            <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label> Description
                <input type="text" th:field="*{description}"></label>
            </label>
            <fieldset th:each="step, stepStat : *{steps}">
                <legend th:text = "'Step ' + ${stepStat.index + 1} "></legend>
                <label> Description
                    <input type="text" th:field="*{steps[__${stepStat.index}__].description}"></label>
                </label>
                <label> Days to deadline
                    <input type="number" th:field="*{steps[__${stepStat.index}__].days_to_deadline}"></label>
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addStep">+</button>
            </div>
        </form>

        <p>
            <button type="submit">Add</button>
            <button type="reset">Clear</button>
        </p>
    </fieldset>
</main>

</body>
</html>